<div class="container">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Aluno</h3>
      </div>
      <br>
      	<div class="panel-body">
		  	<%= simple_form_for @student, :html => { :class => 'form-horizontal' } do |f| %>
		  		<%= f.error_notification %>
		  		<div class="form-inputs">
			  		<div class="form-group">
				  		<div class="col-xs-2">
				  		    <%= f.input :login, :required => true, :autofocus => true %>
			  		  	</div>
		  		  	</div>


					<div class="form-group">
				  		<div class="col-xs-4">
					    	<%= f.input :email %>
						</div>
		  		  	</div>

		  		  	<div class="form-group">
	  		  			<div class="col-xs-3">
	  		  				<%= f.input :password, label: "Senha" %>
			  				</div>
	  				</div>

		  		  	<div class="form-group">
	  		  			<div class="col-xs-3">
	  		  				<%= f.input :password_confirmation, label: "Confirmação de Senha" %>
		  				</div>
	  				</div>

		  		  	<div class="form-group">
	  		  			<div class="col-xs-3">
	  		  				<%= f.input :name, label: "Nome" %>
		  				</div>
	  				</div>

		  		  	<div class="form-group">
	  		  			<div class="col-xs-3">
	  		  				<%= f.input :institution, label: "Instituição" %>
		  				</div>
	  				</div>

	  				<div class="form-group">
	  		  			<div class="col-xs-3">
	  		  				<%= f.input :semester, label: "Semestre" %>
		  				</div>
	  				</div>
	  				<div class="form-group">
	  		  			<div class="col-xs-3">
	  		  				<%= f.input :image, label: "Imagem" %>
		  				</div>
	  				</div>
					
				</div>
	  			<br>

		</div>
  		<div class="form-group well" style="margin-bottom: 0px; border: 0px; border-radius: 0px;">
	    	<%= f.submit 'Incluir', class: "btn btn-primary" %>
				<%= link_to 'Voltar', students_path, class: "btn btn-default" %>
  		</div>
		<% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
	$('[data-behaviour~=datepicker]').datepicker({
	"format": "yyyy-mm-dd",
	"weekStart": 1,
	"autoclose": true
	});
</script>

<script type="text/javascript">
	jQuery(function($){
	   		$("#phone").mask("(999) 999-9999");
	   		$("#cellphone").mask("(999) 999-9999");
	   		$("#cpf").mask("999.999.999-99");
	});
</script>