<style type="text/css">
body {
	padding-top: 51px;
}
</style>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag 'c1.jpg' %>
      <div class="carousel-caption">
      </div>
    </div>

    <div class="item">
      <%= image_tag 'c2.jpg' %>
      <div class="carousel-caption">
      </div>
    </div>

    <div class="item">
      <%= image_tag 'c3.jpg' %>
      <div class="carousel-caption">
      </div>
    </div>

    <div class="item">
      <%= image_tag 'c4.jpg' %>
      <div class="carousel-caption">
      </div>
    </div>

    <div class="item">
      <%= image_tag 'c5.jpg' %>
      <div class="carousel-caption">
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div> 
<br>


<div class="container">
  <div class="row">
    <!-- radio: 2,325439 -->
    <div class="page-header">
    	<h1>Projetos</h1>
    </div>
    <div class="container marketing">
     <!-- Three columns of text below the carousel -->
          <div class="row">
          	<% @projects.each do |project| %>
    	        <div class="col-md-4 text-center">
        			<h2 style="margin-center: 120px;"><span class="text-muted"><%= project.name %></span></h2>
    	          	<p><%= raw(project.description) %></p>
    	        </div><!-- /.col-lg-4 -->
            <% end %>
          </div><!-- /.row -->
    </div>
  </div>
</div>
