<div class="page-header">
  <h1>Listar <%= plural_table_name %></h1>
</div>

<div class="panel panel-default">
 <div class="panel-heading">
    <h3 class="panel-title"><%= plural_table_name %></h3>
  </div>
  <div class="panel-body">
    <table class="table table-hover" width="100%">
      <thead>
        <tr>
          <% attributes.each do |attribute| -%>
            <th><%= attribute.name %></th>
          <% end -%>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <%%= content_tag_for(:tr, @<%= plural_table_name %>) do |<%= singular_table_name %>| %>

          <% attributes.each do |attribute| -%>
            <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
          <% end -%>

          <td>
            <%%= link_to 'Detalhes', <%= singular_table_name %> %>
          </td>
          <td>
            <%%= link_to 'Editar', edit_<%= singular_table_name %>_path(<%= singular_table_name %>) %>
          </td>
          <td>
            <%%= link_to 'Deletar', <%= singular_table_name %>, method: :delete, data: { confirm: 'Tem certeza?'} %>
          </td>

          
        
        <%% end %>
        
      </tbody>
    </table>
  </div>
</div>
<br>

<div class="form-actions">
  <%%= link_to 'Incluir <%= human_name %>', new_<%= singular_table_name %>_path, class: 'btn btn-primary' %>
</div>

