<div class="page-header">
  <h1>Listar courses</h1>
</div>

<div class="panel panel-default">
 <div class="panel-heading">
    <h3 class="panel-title">courses</h3>
  </div>
  <div class="panel-body">
    <table class="table table-hover" width="100%">
      <thead>
        <tr>
          <th>name</th>
          <th>workload</th>
          <th>start_date</th>
          <th>end_date</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <%= content_tag_for(:tr, @courses) do |course| %>
          <td><%= course.name %></td>
          <td><%= course.workload %></td>
          <td><%= course.start_date %></td>
          <td><%= course.end_date %></td>
          <td>
            <%= link_to 'Detalhes', course %>
          </td>
          <td>
            <%= link_to 'Editar', edit_course_path(course) %>
          </td>
          <td>
            <%= link_to 'Deletar', course, method: :delete, data: { confirm: 'Tem certeza?'} %>
          </td>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<br>

<div class="form-actions">
  <%= link_to 'Incluir Curso', new_course_path, class: 'btn btn-primary' %>
</div>

