<div class="page-header">
	<h2>Mostrar Curso</h2>
</div>


<div class="container">
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Course</h3>
			</div>
			<br>
			<div class="panel-body">
				<p>
					<strong>Name</strong>
	    			<%= @course.name%>
				</p>
				<p>
					<strong>Workload</strong>
	    			<%= @course.workload%>
				</p>
				<p>
					<strong>Description</strong>
	    			<%= @course.description%>
				</p>
				<p>
					<strong>Start_date</strong>
	    			<%= @course.start_date%>
				</p>
				<p>
					<strong>End_date</strong>
	    			<%= @course.end_date%>
				</p>
				<p>
					<strong>Max_cap</strong>
	    			<%= @course.max_cap%>
				</p>
				<p>
					<strong>Min_cap</strong>
	    			<%=@course.min_cap%>
				</p>
				<p>
					<strong>Image</strong>
	    			<%= image_tag @course.image %>
				</p>
			</div>
		</div>
	</div>
</div>

<%= link_to 'Editar', edit_course_path(@course) %> |
<%= link_to 'Voltar', courses_path %>